header {
    padding: 3rem 3.125rem;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    button {
        border-radius: 25px;
        border: 0;
        width: 120px;
        background-color: transparent;
        border: 2px solid $pink;
        color: $pink;
        transition: 0.3s background;
        cursor: pointer;

        &:hover {
            background-color: $pink;
            color: $white;
        }
    }

    @media screen and (max-width: 480px) {
        img {
            width: 160px;
            object-fit: contain;
        }

        button {
            padding: 0.5rem;
        }
    }
}