$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);
$cyan: #808080;
$white: #ffffff;
$twitter: #1DA1F2;
$facebook: #4267B2;
$instagramGradient: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$instagram: #f09433;

$openSans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

$mobile: 375px;
$desktop: 1440px;